
{% extends "base.html" %}

{% block head %}
    <style>
        .page-title {
            font-weight: bold;
        }
    </style>
	<meta http-equiv="refresh" content="3"><!-- 3秒自动刷新 -->
{% end %}

{% block body %}
	<script type="text/javascript" src="{{ static('js/jquery-3.1.1.min.js') }}">//这边引入jQuery</script>
	<script>
	
	function getCookie(name){
		var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
		return r ? r[1] : undefined;
	}
	function clean(name){
		$.ajax({
			type: "POST",
			url : '/console',
			cache: false,
			data: {
			'_xsrf': getCookie("_xsrf"),
			'message': name,
			},
			dataType: 'json',
			success: function(data){
				alert(data['status']);
				window.location.reload();
			},
		});
	}

	</script>
<div class="container">
    <div class="page-title">管理控制台</div>


		{% raw xsrf_token %}
		<p>学生街左：{{ pos['学生街左'][0] }}
		<button name="学生街左" onclick="clean('学生街左')">清零</button>
		</p>
		<p>学生街右：{{ pos['学生街右'][0] }}
		<button name="学生街右" onclick="clean('学生街右')">清零</button>
		</p>
		
		<p>图书馆左：{{ pos['图书馆左'][0] }}
		<button name="图书馆左" onclick="clean('图书馆左')">清零</button>
		</p>
		
		<p>图书馆右：{{ pos['图书馆右'][0] }}
		<button name="图书馆右" onclick="clean('图书馆右')">清零</button>
		</p>
		
		<p>南区食堂左：{{ pos['南区食堂左'][0] }}
		<button name="南区食堂左" onclick="clean('南区食堂左')">清零</button>
		</p>
		
		<p>南区食堂右：{{ pos['南区食堂右'][0] }}
		<button name="南区食堂右" onclick="clean('南区食堂右')">清零</button>
		</p>

</div>
{% end %}

{% block script %}
<script>
    (function() {
        ;
	})();
</script>
{% end %}
