<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
	body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
	</style>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=1xW52e31qGyTjB19cLC8kZH8MRHU3S6E"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/library/LuShu/1.2/src/LuShu_min.js"></script>
	<script type="text/javascript" src="{{ static('js/jquery-3.1.1.min.js') }}">//这边引入jQuery</script>
	<title>地图展示</title>
</head>
<body>
	<div id="allmap"></div>
</body>
</html>
<script type="text/javascript">
	// 百度地图API功能
	var map = new BMap.Map("allmap");    // 创建Map实例
	var p1 = new BMap.Point(119.2215783, 26.02993)
	
	map.centerAndZoom(new BMap.Point(119.2205783, 26.02993), 17);  // 初始化地图,设置中心点坐标和地图级别
	
	
	var pt = new BMap.Point(119.2205783, 26.02993);
	var p1 = new BMap.Point(119.219333,26.032609);
	var test = new BMap.Point(119.218426,26.034549);
	//var myIcon = new BMap.Icon("http://lbsyun.baidu.com/jsdemo/img/fox.gif", new BMap.Size(300,157)); //创建小狐狸
	var marker2 = new BMap.Marker(pt);  // 创建标注
	var marker3 = new BMap.Marker(p1);  // 创建标注

	map.addOverlay(marker2);              // 将标注添加到地图中
	map.addOverlay(marker3);              // 将标注添加到地图中
	marker2.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
	marker3.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
	
	// ajax 去拿数据，然后更新。
	//map.clearOverlays();   //清除所有标记
	
    //添加地图类型控件
	map.addControl(new BMap.MapTypeControl({
		mapTypes:[
            BMAP_NORMAL_MAP,
            BMAP_HYBRID_MAP
        ]}));	  
	map.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设置的
	map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
	var lushu;
	
	var pos=[[119.21918,26.033299],[119.218857,26.034062],[119.218426,26.034549],[119.218021,26.034898],[119.217141,26.03575]];
	
	
//------------------------------------------------	


//------------------------------------------------	

//重写版本。根据步骤一步一步做


//------------------------------------------------

/*
	setInterval(function () {//会以指定周期时间无限运行下去
        $.ajax({
         type: "GET",
		 url: '/pos', 
         cache: false, 
		 dataType: 'json', 
		 success: function (data) {
			pass;
			
			} });
    }, 10 * 1000);
*/	
	
</script>




